
# MACOS STUFF
# MACOS STUFF
# MACOS STUFF
# General
.DS_Store
.AppleDouble
.LSOverride


# we dont need unprocessed images.
images/*.jpg
images/*.png
images/*.gif
images/*.svg
images/*.webp
images/*.tiff
images/*.psd